<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link id="favicon" rel="icon" href="/assets/favicon.ico"type="image/ico" sizes="32x32">
    <link rel="stylesheet" href="/stylesheets/profiles/index.css">

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        <a href="http://localhost:3000/restaurants"></a>
      </ol>
    </nav>