<!-- <% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %> -->
</head>
<body>
<nav>
  <div style='width: 200px;'>
<i class='fas fa-coffee fa-pull-left fa-3x'></i>
  <a href="/restaurants" class="siwg-link">
    <button type="submit" class="siwg">
      Restaurant
    </button>
  </a> 
  <a href="/profiles" class="siwg-link">
    <button type="submit" class="siwg">
      Leave A Review
    </button>
  </a>
  <% if (user) { %>
    <a href="/auth/logout">
     <button type="submit" class="siwg">Log Out</button>
    </a>

  <% } else { %>
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
      Sign In With Google</button>
    </a>
  <% } %>
</nav>