<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body>
<nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <% if (user) { %>
    <a class="enterbutton" href="/auth/logout">
     <button type="submit" class="siwg">Log Out</button>
      </a>

  <% } else { %>
    <a class="enterbutton" href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
      Sign In</button>
    </a>
  <% } %>
  
  <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/restaurants">Restaurant List <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profiles">Add Review</a>
        </li>
      </ul>
      </form>
    </div>
  </nav>
</nav>