<!-- <% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %> -->
</head>
<body>
<nav>
  <a href="/restaurants" class="siwg-link">
    <button type="submit" class="siwg">
      Restaurant
    </button>
  </a> 
  <a href="/profiles" class="siwg-link">
    <button type="submit" class="siwg">
      Leave A Review
    </button>
  </a>
  <% if (user) { %>
    <a href="/auth/logout">
            <button type="submit" class="siwg">
              Sign In
      </button>

    <button type="submit">Log Out</button>
<a>
  <% } else { %>
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        Sign Out
      </button>
    </a>
  <% } %>
</nav>