body {
  background-image: url("/assets/images/sincerely-media-ez9IPcFL5r8-unsplash.jpg");
}

.main {
    display: flex;
    justify-content: center;
  }
  
  .cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    max-width: 1600px;
  }
  
  .text-decoration-none {
    text-decoration: none;
  }
  
  .card {
    display: flex;
    width: 300px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    padding: 10px;
  }
  
  .card > img {
    border-radius: 10px;
    height: 96px;
  }
  
  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-title {
    font-size: 24px;
    margin: 0 10px;
  }

  .inputform {
  
      /* display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; */
  }

  .inputform label{

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .label {
    margin:10px;
  }

  .navbar-expand-lg {
    background-color: #cc9aaa;
  }

  #navbarTogglerDemo03 {
    display: flex;
    /* flex-direction: row; */
    align-items: flex-start;
  }

 .navbar-nav { 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: nowrap;
    align-content: stretch;
    list-style-type: none;
    padding: 0 20px ;
 }
.nav-item {

 display: flex;
 padding: 0 30px;
 justify-content: flex-end;
 flex-direction: row;
 flex-wrap: nowrap;
}

.enterbutton{
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.googlepic{
  border-radius: 50px;
}


html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  /* font-size: 62.5%; */
}

*body {
  background-image: url("/assets/images/minniesnewbackground.jpeg");
  background-size: auto;
  /* background-color: rgb(148, 154, 66);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0; 
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("/assets/images/minniesnewbackground.jpeg");
  background-size: auto;


}

h1 {
  font-size: 3.6rem;
}

.center{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#googlepic{
  border-radius: 50px;
}

#googlepic2{
  border-radius: 50px;
}